.entity-picker--selected {
    outline: #00FF00 dotted thick;
}
.entity-picker--wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
}
.entity-picker--cancel.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}